 /* class = . */
 /* id = # */
 
 
 /*background*/
body {
    background-color:silver;
    background-image:     /* radial-gradient = color fade */
    radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;  /* px = pixel   the number of pixel in a image is known as the resolution*/
    }

    .block-header {
        background-color: #ffffff;
    }
    
    .block-center {
        background-color: #ffffff;
    }

    #gameSection, #scoreSection {
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
    }
    
    #buttonSection {
        /*background-color: yellow;*/
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    
    /* Fonts */
    h1, h2, h3 {
        font-family: fantasy;
    }
    
    p {
        font-family: fantasy;
    }
    
    .numberBox {
        font-size: 100px;
        margin: 0px;
    }
    
    /* images for buttons */
    .icons {
        display: inline-block;
          max-width: 100px;
          max-height: 100px;
          width: auto;
          height: auto;
          margin:10px;
    }